/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sancreek&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");


/* Changing the main font and background colour */

.navbar-font {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #67171f;
	font-size: 25px;
}

/* Changing the background colour for the header */

header {
	background-color: #000060;
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #efdbbe;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

/* navbar active */

.navbar-font.active {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #efdbbe !important;
  background-color: #67171f;
  padding: 8px 16px;
  border-radius: 50px;
}

/* Hero Section shadow */

/* profile */
.text-maroon {
  color: #641a1a;
}

.button-rounded {
  background-color: #641a1a;
  color: #fff6dd;
  font-weight: bold;
  border-radius: 25px;
  padding: 16px 32px;
  font-size: 1.1rem;
  border: none;
  margin: 10px;
  transition: 0.3s ease;
}

.button-rounded:hover {
  background-color: #853030;
  cursor: pointer;
}


.white-shadow {
	text-shadow: -.01em -.01em .01em white,
		.02em .02em .02em white,
		0 0 .2em white,
		0 0 .5em white;
}
